---
import Layout from '../layouts/Layout.astro';
import Promises from '../components/promises.astro';
import Auctions from '../components/auctions.astro';
import AOSWrapper from '../components/ui/AOSWrapper.jsx';
import SellerForm from '../components/seller-form.astro';
---

<Layout>
  <div data-aos="slide-up" class="-mt-1 md:-mt-2 xl:-mt-4 w-full">
    <Promises />
</div>

<div data-aos="slide-up">
  <Auctions />
</div>

<div data-aos="slide-left" class="pb-16">
  <SellerForm />
</div>
</Layout>