---
import { Icon } from 'astro-icon/components';
---

<section title="Upcoming Auctions" class="py-6 px-4 text-center w-full">
    <h2 class="flex items-center justify-center gap-2 md:gap-4 whitespace-nowrap font-semibold">
        <Icon name="chunky-arrow" class="contrast-200 w-10 h-10 sm:w-14 sm:h-14 md:w-[150px] md:h-[150px] shrink-0" />
        Upcoming Auctions
        <Icon name="chunky-arrow" class="contrast-200 rotate-[65deg] w-10 h-10 sm:w-14 sm:h-14 md:w-[150px] md:h-[150px] shrink-0" />
      </h2>

<script type="text/javascript">
    // <![CDATA[
    var az_feed_uid=0;
    var az_feed=129;
    // ]]>
    </script>
    <script src="//www.auctionzip.com/includes/xmlfeed.js" type="text/javascript"></script>
</section>

<style>

h2 {

}

</style>