---
import PrimaryButton from '../components/ui/primary-button.astro';
import SecondaryButton from '../components/ui/secondary-button.astro';
---

<div id="container"></div>
	<header title="Welcome" class="text-center text-white text-shadow-md p-8">
		<img 
  src="/RonMckeeASlogo.webp" 
  width="300" 
  height="300" 
  alt="Ron McKee Auction Service Logo" 
  class="drop-shadow-md mx-auto" 
  loading="eager" 
  fetchpriority="high" 
/>
		<h1 title="Welcome">Ron McKee Auction Service</h1>
		<p class="font-fry">License#: AU10400108</p>
		<p class="font-fry text-2xl text-shadow">812-229-0711</p>
		<p class="font-fry text-xl text-shadow">8290 S State Road 46</p>

		<div class="buttons flex flex-col md:flex-row gap-4 justify-center py-6 px-4">
			<PrimaryButton />
			<SecondaryButton />
		</div>
	</header>