<section title="Upcoming Auctions" class="text-center pb-8 bg-[#f9f9f9]">
    <!-- Place this at the top of your white-background section -->
    <h2 class="text-[#fe5b44] text-2xl md:text-3xl font-semibold mb-4 font-sergio pt-8">Follow Us On Facebook</h2>
  
    <div class="flex justify-center mx-0">
      <div class="fb-page w-full"
        data-href="https://www.facebook.com/ronmckeeauctions/" 
        data-tabs="timeline" 
        data-width="" 
        data-height="" 
        data-small-header="false" 
        data-adapt-container-width="true" 
        data-hide-cover="false" 
        data-show-facepile="true">
        
        <blockquote cite="https://www.facebook.com/ronmckeeauctions/" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/ronmckeeauctions/">Ron McKee Auction Service</a>
        </blockquote>
      </div>
    </div>
  </section>