<section 
    title="Introduction"
    class="relative z-9 bg-[url('/newspaper-bg.jpg')] 
    brightness-110 
    shadow-2xl 
    rounded-sm 
    text-[#1f1f1f] 
    py-12 
    bg-cover 
    bg-center 
    bg-no-repeat 
    bg-blend-multiply 
    bg-gradient-to-r from-white/80 to-stone-100/80 
    contrast-150
    m-8"
  >
    <!-- Text Content -->
    <p class="first-letter:text-4xl px-10 m text-justify first-letter:font-bold first-letter:mr-2 first-letter:text-ron-red font-fry text-xl text-shadow">
      Thank you for visiting our Auction Site. Whether you are seeking an honest & competent auction company to fulfill your needs…. or looking for an enjoyable auction to attend…. we think you can find it here.
    </p>
    <br />
    <p class="font-fry text-xl text-justify px-10">
      We specialize in auctions on Real Estate, Estates, Business Liquidations, Personal Property, & more. We also offer appraisals on Estates, Personal Property, & Antiques.
    </p>
    <br />
    <p class="font-fry text-xl text-justify px-10">
      Our Promise to You… If we cannot meet your needs, we will gladly help you with other recommendations. After all, It is about YOUR needs!
      Ron McKee Auction Service, Inc…. for your Complete Auction Service needs. We will always be Open, Honest, & Fair.
    </p>

    <p class="font-fry pt-8 text-2xl text-right pr-10">Sincerely,</p>
    <p class="font-brush text-4xl text-right pr-10 text-[#fe5b44] text-shadow-xl">Ron McKee</p>
    <p class="font-brush text-xl text-right pr-10">Auctioneer</p>
  </section>  