<section 
    title="Introduction"
    class="relative z-9 
    brightness-110 
    shadow-2xl 
    rounded-md
    p-4
    text-[#1f1f1f] 
    py-12 
    bg-cover 
    bg-center 
    bg-no-repeat 
    bg-blend-exclusion
    bg-gradient-to-r from-white/90 to-stone-100/80 
    m-8"
  > 
    <!-- Text Content -->
    <p class="first-letter:text-4xl px-10 first-letter:font-bold first-letter:mr-2 first-letter:text-ron-red font-fry text-2xl text-shadow-sm">
      Thank you for visiting our Auction Site. Whether you are seeking an honest and competent auction company to fulfill your needs…. or looking for an enjoyable auction to attend… we think you can find it here.
    </p>
    <br />
    <p class="font-fry text-2xl px-10 text-shadow-sm">
      We specialize in auctions on <strong>Real Estate</strong>, <strong>Estates Auctions</strong>, <strong>Living Estate Auctions</strong>, <strong>Business Liquidations</strong>, <strong>Personal Property</strong> and more. We also offer <strong>appraisals</strong> on Estates, Personal Property, and Antiques.
    </p>
    <br />
    <p class="font-fry text-2xl px-10 text-shadow-sm">
      Our Promise to You: If we cannot meet your needs, we will gladly help you with other recommendations. After all, it is about YOUR needs.
      Choose Ron McKee Auction Service for your Complete Auction Service needs. We will always be Open, Honest & Fair.
    </p>

    <p class="font-fry pt-8 text-2xl text-right pr-10 text-shadow-sm">Sincerely,</p>
    <p class="font-brush text-4xl text-right pr-10 text-[#fe5b44] text-shadow-xl">Ron McKee</p>
    <p class="font-brush text-xl text-right pr-10 text-shadow-sm">Auctioneer</p>
  </section>  