---
import AOSWrapper from '../components/ui/AOSWrapper.jsx';
import "../assets/styles/global.css";
import Footer from '../components/footer.astro';
import Social from '../components/social.astro';
import Header from '../components/header.astro';
import WelcomeMessage from '../components/welcome-message.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/mckee-favicon.webp" />
		<meta name="generator" content={Astro.generator} />
    <link rel="canonical" href="https://www.ronmckeeauctionservice.com">
 
<meta property="og:type" content="website" />
<meta property="og:url" content="https://ronmckeeauctionservice.com" />
<meta property="og:title" content="Ron McKee Auction Service | Auctions, Estates, Liquidations & Appraisals | Terre Haute, IN" />
<meta property="og:description" content="Ron McKee Auction Service, Inc. specializes in real estate, estate, business liquidation, and personal property auctions, as well as professional appraisals of estates, antiques, and collectibles. Count on us for complete auction services that are always open, honest, and fair." />
<meta property="og:image" content="https://ronmckeeauctionservice.com/ron-og-image.png" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="ronmckeeauctionservice.com" />
<meta property="twitter:title" content="Ron McKee Auction Service | Auctions, Estates, Liquidations & Appraisals | Terre Haute, IN" />
<meta property="twitter:description" content="Ron McKee Auction Service, Inc. specializes in real estate, estate, business liquidation, and personal property auctions, as well as professional appraisals of estates, antiques, and collectibles. Count on us for complete auction services that are always open, honest, and fair." />
<meta property="twitter:image" content="https://ronmckeeauctionservice.com\ron-og-image.png" />

 <meta name="description" content="Ron McKee Auction Service, Inc. specializes in real estate, estate, business liquidation, and personal property auctions, as well as professional appraisals of estates, antiques, and collectibles. Count on us for complete auction services that are always open, honest, and fair." />
    <meta name="keywords" content="estate auctions, 
    real estate auctions, 
    Indiana auctioneer, 
    auction service, 
    antique appraisals, 
    business liquidation, 
    personal property auctions, 
    Ron McKee Auction Service, 
    auctioneer Terre Haute, 
    auction listings
">

 <style>
            body.loaded {
                animation: fadeInAnimation ease 3s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
            @keyframes fadeInAnimation {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        </style>

		<title>Ron McKee Auction Service | Auctions, Estates, Liquidations & Appraisals | Terre Haute, IN </title>
<link rel="preload" as="image" href="/ron-bg.webp" type="image/webp" imagesrcset="/ron-bg.webp" fetchpriority="high" />
<link rel="preload" as="image" href="RonMckeeASlogo.webp" type="image/webp" fetchpriority="high" /><link rel="preload" href="/fonts/SergioTrendy.ttf" as="font" type="font/woff2" crossorigin />

<link rel="preload" href="/fonts/BrushScript.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/Frybaskin.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/SergioTrendy.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preconnect" href="https://connect.facebook.net" crossorigin />
</head>

	<body class="bg-bg-main">
    <div id="#background" class="bg-[url('/ron-bg.webp')] bg-cover bg-bottom bg-no-repeat pt-8 px-0 position-bottom">
      <div class="md:px-12 lg:px-16 md:pb-12">
      <Header />
      <WelcomeMessage />
    </div>
      <svg xmlns="http://www.w3.org/2000/svg" class="z-90 w-full" viewBox="0 0 1000 100"><path d="M0 0C500 0 500 96 1000 96V100H0V0Z" fill="#fe5b44"></path></svg>
    </div>

    <AOSWrapper client:only="react" />
      <div data-aos="fade-up">
		    <slot />
      </div>

<script data-goatcounter="https://mckee-auction.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"><path d="M0 0C500 0 500 96 1000 96V100H0V0Z" fill="#f9f9f9" class="block w-full"></path></svg>
<div class="w-full bg-[#f9f9f9] -mt-1 pb-12">
<Social />
</div>
      <Footer/>
        <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v22.0"></script>
	</body>
</html>

<style>
  html,
	body {
		margin: 0;
    padding: 0;
    background-color: #fe5b44;
    overflow-x: hidden;
	}

  section {
    overflow: visible;
  }

  * {
  box-sizing: border-box;
}
</style>
