<div class="flex flex-wrap justify-center gap-6">
    <a class="relative" href="#sellers" title="I Want To Sell!">
        <span class="absolute top-0 left-0 mt-1 ml-1 h-full w-full rounded bg-black"></span>
        <span class="relative inline-block h-full w-full rounded border-2 border-black bg-white px-6 py-2 text-2xl md:text-3xl font-bold text-black transition duration-100 hover:bg-yellow-400 hover:text-gray-900 font-brush">I Wanna Sell!</span>
    </a>